.main-header {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	width: 100%;
	font-family: $font-main;

	transition: all .3s ease-in-out;
	z-index: 5;

	&::before {
		position: absolute;
		top: 0;
		left: 0;
		content: "";
		width: 100%;
		height: 100%;
		background-color: $colorBgBlue;

		transition: all .3s ease-in-out;
		z-index: 9;
	}
}

.main-content--header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: $headerHeightDesktop;
	padding: .938rem 2rem;
}

.company-logo,
.nav-menu {
	z-index: 10;
}

.nav-menu {
	transition: all .6s ease-in-out;
}

.nav-menu__list {
	display: flex;
}

.nav-menu__item {
	overflow: hidden;
	margin-right: 2.5rem;

/*	&:not(&:last-child) {
		margin-right: 2.5rem;
	}

	&:last-child {
		a {
			padding: .5rem 0 .5rem .5rem;
		}
	}*/
}

.nav-menu__link {
	position: relative;
	display: block;
	padding: .5rem;
	letter-spacing: .5px;
	color: $colorBlueLight;
	width: 100%;
	@include transition(.18s);

	&::before,
	&::after {
		@include pseudo-elem(absolute, block, "");
		width: 100%;
	}
	&::before {
		left: 0;
		bottom: 60px;
		height: 100%;
		visibility: hidden;
		background: transparent;
		border: 3px solid $colorWhiteSoft;
		border-bottom: 0;
		opacity: 0;
		@include transition(.1s);
	}
	&::after {
		left: 0;
		bottom: 0;
		height: 3px;
		background: $colorWhiteSoft;
		-webkit-transform: scaleX(0);
		transform: scaleX(0);
	}
	&:hover {
		color: $colorWhiteSoft;

		&::after {
			-webkit-animation: underline .4s;
			-webkit-animation-iteration-count: 1;
			animation: underline .4s;
			animation-iteration-count: 1;
			animation-fill-mode: forwards;
		}
	}
}

.burger-button {
	display: none;
	position: absolute;
	right: .938rem;
	@include centering-y;
	width: 2.525rem;
	height: 1.875rem;
	background-color: transparent;
	box-shadow: inset 0 -2px 0 0 #000;

	z-index: 10;

	&::before,
	&::after {
		display: block;
		position: absolute;
		content: "";
		height: 2px;
		background-color: #000;
	}

	&::before {
		top: 0;
		left: 0;
		width: 100%;
	}

	&::after {
		@include centering-y;
		right: 0;
		width: 50%;
	}
}

.burger-button--open {
	animation: burgerOpen .2s ease-in-out forwards;

	&::before {
		animation: burgerBeforeOpen .7s ease-in-out .2s forwards;
	}

	&::after {
		animation: burgerAfterOpen .7s ease-in-out .2s forwards;
	}
}

.burger-button--close {
	animation: burgerClose .2s ease-in-out .7s reverse backwards;

	&::before {
		animation: burgerBeforeClose .7s ease-in-out reverse backwards;
	}

	&::after {
		animation: burgerAfterClose .8s ease-in-out reverse backwards;
	}
}

@keyframes burgerBeforeOpen {
	0% {
		transform: translateY(0) rotate(0) scaleX(1);
	}
	25% {
		top: 0;
		transform: translateY(0) rotate(0) scaleX(1);
	}
	50% {
		top: 0;
		transform: translateY(0) rotate(0) scaleX(0.6);
	}
	75% {
		top: 50%;
		transform: translateY(-50%) rotate(0) scaleX(0.6);
	}
	100% {
		top: 50%;
		transform: translateY(-50%) rotate(-45deg) scaleX(0.6);
	}
}

@keyframes burgerOpen {
	0% {
		box-shadow: inset 0 -2px 0 0 #000;
	}
	100% {
		box-shadow: inset 0 -2px 0 0 transparent;
	}
}

@keyframes burgerAfterOpen {
	0% {
		width: 50%;
	}
	25% {
		width: 100%;
		transform: translate(0, -50%) rotate(0) scaleX(1);
	}
	50% {
		width: 100%;
		transform: translate(0, -50%) rotate(0) scaleX(0.6);
	}
	75% {
		width: 100%;
		transform: translate(0, -50%) rotate(0) scaleX(0.6);
	}
	100% {
		width: 100%;
		transform: translate(0, -50%) rotate(45deg) scaleX(0.6);
	}
}

@keyframes burgerBeforeClose {
	0% {
		transform: translateY(0) rotate(0) scaleX(1);
	}
	25% {
		top: 0;
		transform: translateY(0) rotate(0) scaleX(1);
	}
	50% {
		top: 0;
		transform: translateY(0) rotate(0) scaleX(0.6);
	}
	75% {
		top: 50%;
		transform: translateY(-50%) rotate(0) scaleX(0.6);
	}
	100% {
		top: 50%;
		transform: translateY(-50%) rotate(-45deg) scaleX(0.6);
	}
}

@keyframes burgerClose {
	0% {
		box-shadow: inset 0 -2px 0 0 #000;
	}
	100% {
		box-shadow: inset 0 -2px 0 0 transparent;
	}
}

@keyframes burgerAfterClose {
	0% {
		width: 50%;
	}
	25% {
		width: 100%;
		transform: translate(0, -50%) rotate(0) scaleX(1);
	}
	50% {
		width: 100%;
		transform: translate(0, -50%) rotate(0) scaleX(0.6);
	}
	75% {
		width: 100%;
		transform: translate(0, -50%) rotate(0) scaleX(0.6);
	}
	100% {
		width: 100%;
		transform: translate(0, -50%) rotate(45deg) scaleX(0.6);
	}
}

// Menu Item hover animation
@keyframes underline {
	20% {
		-webkit-transform: scaleX(.8);
		transform: scaleX(.8);
	}
	65% {
		-webkit-transform: scaleX(1);
		transform: scaleX(1);
	}
/*	90% {
		-webkit-transform: scaleX(.9);
		transform: scaleX(.9);
	}*/
	100% {
		-webkit-transform: scaleX(1);
		transform: scaleX(1);
	}
}

@media screen and (max-width: 768px) {
	.main-content--header {
		height: $headerHeightMob;
		padding: $padding-header-mob;
	}

	.burger-button {
		display: block;
	}

	.nav-menu {
		display: flex;
		align-items: center;
		justify-content: center;

		position: fixed;
		top: -100%;
		left: 0;
		width: 100%;
		height: 100%;
		overflow-y: auto;

		background-color: lightcoral;
		z-index: 8;

		&.nav-menu--active {
			top: 0;
		}
	}

	.nav-menu__list {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.nav-menu__item {
		&:not(&:last-child) {
			margin-right: 0;
			margin-bottom: .938rem;
		}

		&:last-child {
			a {
				padding: .5rem;
			}
		}
	}
}