$maxWidth: 1920; // max width of the page
$minWidth: 320; // min width of the page

$headerHeightDesktop: 80px;
$headerHeightMob: 60px;

$padding-header-desktop: 20px 25px;
$padding-header-tablet: 15px 20px;
$padding-header-mob: 10px 15px;

$margin-desktop: null;
$margin-tablet: null;
$margin-mob: null;

$font-main: MontserratAlternates, sans-serif;

$colorBlackStandard: #303030;
$colorBlackDarker: #2b2b2b;
$colorBlackDeepest: #1f1f1f;
$colorBlackAlmostBlack: #1b1c1e;

$colorWhiteSubtleGray: #f5f5f5;
$colorWhiteAntique: #faebd7;
$colorWhiteSoft: #f9f9f9;
$colorWhiteCream: #fffacd;
$colorWhiteAsh: #dcdcdc;
$colorWhiteLinen: #faf0e6;

$colorBlueLight: #88CCF1;

$colorBgBlue: #3D5A80;
